:root {
  --black: #010101;
  --gray-dark: #232323;
  --gray-medium: #343434;
  --white: #fefefe;
}

:root[data-theme="light"] {
  --background: var(--white);
  --foreground: var(--gray-dark);

  --cell-block: var(--black);
  --cell-open: var(--white);
}

:root[data-theme="dark"] {
  --background: var(--gray-dark);
  --foreground: var(--white);

  --cell-block: var(--black);
  --cell-open: var(--gray-medium);
}

:root {
  color: var(--foreground);
  background-color: var(--background);
}